 * {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
 }

.header {
  width: 100%;
  height: 100px;
  background: rgb(216, 216, 216);
  border-bottom: 3px solid rgb(155, 155, 155);
  display: flex;
  justify-content: space-between;
}

.nav {
  height:100%;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 20px;

}

.nav_container {
  display: flex;
  align-items: center;
}



.nav a {
  text-decoration: none;
  color: black;
  font-size: 19px;
}

.header {
  display: flex;
}

.logo {
  height: 100%;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.sidebar {
  width: 20%;
  height: 500px;
  background: black;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 60px;
}

.footer {
  width: 100%;
  height: 60px;
  background: rgb(216, 216, 216);
  border-top: 3px solid rgb(155, 155, 155);
}

.sidebar_links {
  height: 85%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.sidebar_links div {
  border-bottom: 2px solid white;
  width: 100%;
  text-align: center;
  padding: 10px;
  color: white;
}

.middle_right {
  width: 700px;
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: red;
  align-items: center;
  padding-top: 50px;
}

.middle {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-between;
}

.categories {
  background: yellow;
}

.howitworks {
  background: blue;
}

.categories_grid {
  width: 70%;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.middle_right h2 {
  padding-bottom: 33px;
}

.category_grid_ele {
  width: 150px;
  height: 150px;
  background: grey;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}

.red {
}

.cat_subliminals {
  background: blue;
  color: white;
  display: flex;
    align-items: center;
    justify-content: center;
  height: 100px;
  width: 100px;
  border: 2px solid black;
}

.middle_content {
  width: 80%;
}

.individual_category {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.individual_category div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.individual_sub {
  width: 420px;
  background: rgb(217, 217, 217);
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  }

  .cart_icon {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cart_circle {
    background: blue;
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    color: white;
    font-size: 10px;
    font-weight: bold;
  }

  .shopping_cart {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }